logs
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
.history
dist
/.idea
*.iml
*.eml
/dist/
.cache
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
